<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Taleto - C´Evolu</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="shortcut icon" type="imagex/png" href="static/img/logo.png">
    <style>
        .pdf-container {
            width: 100%;
      
            overflow: auto; /* Barra de rolagem quando necessário */
            border: 1px solid #ccc; /* Optional: borda para o contêiner */
        }


        /* Estilos para o canvas */
        #pdf-canvas {
        margin: 0 auto;
        width: 100%;
}


    </style>
</head>
<header>
<nav>
    <button id="logout" class="logout"><a href="/logout">sair</a></button>
    <h2>Olá {{current_user.nome}}!</h2>
    <section>
    <input id="valor" type="number">
    <button id="commit">Pesquisar</button>
    </section>
   
</nav>
</header>

<body>
       
       
 

         <!-- Usando <embed> para exibir o PDF -->
         <!-- Canvas onde o PDF será exibido -->

<div class="pdf-container" style="width: 90%; height: 80%;">
    <canvas id="pdf-canvas" width="500" height="500">
        
    </canvas>
</div>

<div class="menu_botoes">
<button id="decrementar">&lt;</button>

<p style="color:white"  id="displayValor">0</p>

<button id="incrementar">&gt;</button>
</div>

    <script>
           let valor = 0;
           //parseInt(document.getElementById("valor").value);


            const url = 'static/pdf/curriculo-100.pdf';  // Caminho para o PDF
            // Variável inicial
            
           
            // Funções para alterar o valor
            function atualizarValor() {
                document.getElementById('displayValor').textContent = valor;
                 // Carregar o PDF com pdf.js
            pdfjsLib.getDocument(url).promise.then(function(pdf) {
            


            pdf.getPage(valor).then(function(page) {
                var canvas = document.getElementById('pdf-canvas');
                var context = canvas.getContext('2d');


                // Definir a escala para a exibição
                var scale = 1.5; 
                var viewport = page.getViewport({ scale: scale });

                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Renderizar a página do PDF
                page.render({
                    canvasContext: context,
                    viewport: viewport
                });
            });
        });
            }

            document.getElementById("valor").addEventListener("input", function() {
            valor = parseInt(this.value);  // Atualiza a variável 'valor' com o valor do textarea
            document.getElementById("displayValor").innerText = valor;  // Exibe o valor atualizado
            });
            
            // Função para diminuir
            document.getElementById('decrementar').onclick = function() {
                valor -= 1;
                atualizarValor();
            };

            // Função para aumentar
            document.getElementById('incrementar').onclick = function() {
                valor += 1;
                atualizarValor();
            };

            document.getElementById('commit').onclick = function(){
               
                atualizarValor();
            }
           
            

          

        // Bloquear o clique direito no canvas
        document.getElementById('pdf-canvas').addEventListener('contextmenu', function(event) {
            event.preventDefault();  // Impede a ação padrão (abrir o menu de contexto)
            return false;
        });







        
    </script>
   

</body>
</html>